.venue-card {
  min-width: 250px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
}

.venue-card:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 10px black;
}

.venue-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.featured-label {
  position: absolute;
  top: 10px;
  right: 10px;
  background: black;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
}

.venue-details {
  padding: 16px;
}

.venue-details h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.venue-details p {
  margin: 8px 0;
  color: gray;
  font-size: 14px;
}
