/* Styling for the Header component */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    width: 100%;
    background-color: #333;
  }

  .highlight {
    color: rgb(246, 187, 187);
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
  }
  
  .logo a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .nav-links1 {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
  }
  
  .nav-links1 li {
    margin: 0 20px;
  }
  
  .nav-links1 a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .auth a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .nav-links1 {
      display: none; /* Hide nav links on smaller screens */
    }
  
    .auth a {
      font-size: 0.9rem;
    }
  }
  