/* General styling for the section */
.search-section {
    display: flex;
    padding: 20px;
    background-color: #333;
    border-top: 2px solid #ccc;
}

/* Styling for the heading */
.search-heading {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

/* Search input container */
.search-input {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    flex-grow: 1;
    margin-left: 180px;
    justify-content: space-between;
    max-width: 300px;
}

.search-input i {
    font-size: 25px;
    color: white;
    margin-right: 5px;
}

/* Styling for the actual input */
.search-input input {
    border: 0;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    height: 40px;
    width: 150%;
    padding: 5px;
    color: #6d7d6f;
}

/* Dropdown menu container */
.dropdown-menu {
    position: relative;
    display: inline-block;
    margin-top: 9px;
    margin-left: 130px;
}

/* Dropdown button styling */
.dropdown-button {
    background-color: white;
    color: #6d7d6f;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    width: 120%;
    text-align: left;
    height: 40px;
    display: flex;
    align-items: center;
}

.dropdown-button i {
    font-size: 18px;
    padding: 5px;
}

.dropdown-button:hover {
    color: #333;
}

/* Dropdown content styling */
.dropdown-content {
    display: block;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 240%;
    margin-left: -120px;
    max-height: 300px; /* Adjust height as needed */
    overflow-y: auto;
    margin-top: 5px;
}

/* Grid layout for dropdown items */
.dropdown-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    width: 50px;
}

.dropdown-item {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
}

.dropdown-item:hover {
    background-color: #e0e0e0;
}

/* Responsive behavior for smaller screens */
@media (max-width: 768px) {
    .search-input, .dropdown-menu {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-input {
        margin-left: 0;
    }

    .dropdown-menu {
        margin-left: 0;
    }
}
