/* Home.css */
.home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh; /* Full viewport height */
    background-color: lightgreen;
    margin-top: 146%;
    background-position: fixed;
  }
  
  main {
    flex-grow: 1; /* This will push the footer to the bottom */
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  