body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-size: cover;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


