body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #e0f7fa; /* Soft light blue */
    background-image: linear-gradient(90deg, #27ae60 0%,  100%); /* Dark teal gradient */
}

.container {
    max-width: 800px;
    margin: 20px auto; /* Add some margin to separate from the edges */
    padding: 20px;
    background-color: #ffffff; /* White background for content */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Slightly darker shadow */
}

h1 {
    text-align: center;
    color: #004d40; /* Darker teal */
}

h2 {
    text-align: center;
    color: #00796b; /* Medium teal */
    margin-bottom: 20px; /* Add some space below the heading */
}

.accordion-item {
    margin-bottom: 15px; /* Increased margin for better separation */
}

.accordion-title {
    background-color: #b2dfdb; /* Light teal */
    color: #004d40; /* Darker teal for text */
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
    font-weight: bold; /* Bold for better readability */
}

.arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.accordion-item.active .arrow {
    transform: translateY(-50%) rotate(180deg);
}

.accordion-title:hover {
    background-color: #80cbc4; /* Darker teal on hover */
}

.accordion-content {
    overflow: hidden;
    max-height: 0;
    padding: 0 10px;
    transition: max-height 0.3s ease-out;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #e0f2f1; /* Light background for answers */
}

.accordion-item.active .accordion-content {
    max-height: 1000px; /* Adjust to a sufficiently large value */
}

.answer {
    padding: 10px 0; /* Add padding for the answer text */
    line-height: 1.6; /* Improve line height for readability */
    color: #004d40; /* Text color for answers */
}
