.Forgotpassword-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f2f2f2; /* Light Gray background */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.Forgotpassword-options-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Forgotpassword-options-container h2 {
    text-align: center;
}

.Forgotpassword-button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(243, 234, 223);
    color: black;
}

.Forgotpassword-button:hover {
    background-color: rgb(243, 234, 223);
}

.Forgotpassword-button-link {
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
    width: 100%;
}
