.popular-sports-container {
    margin: 20px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .sports-card-container {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    padding: 10px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: black #e0e0e0;
  }
  